h2, p {
text-align: center;
font-family: Arial;
}
h2 {
	font-size: 24px;
	background-color: silver;
}
h5 {
	font-size: 20px;
	text-decoration: underline;
	margin-left: 5%;

}
li {
	list-style: none;
	margin-left: 5%;
	
}
table {
	text-align: justify;

	width: 98%;
	margin-left: 5%;
}
tr {
	height: 40px;
}
td {
	width: 15%;
}
footer {
	text-align: justify;
}
.contact {
	margin-left: 40%;
}